<!DOCTYPE html>
<html>
<head> <link rel="shortcut icon" type="image/x-icon" href="crlogo.png" /></head>
<title>Crimson Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
/* Logout Button Styling */
.logoutLblPos{
position:fixed;
right:10px;
top:5px;
}

label{
    display: inline-block;
    float: center;
    clear: center;
    width: 250px;
    text-align: center; /*Change to right here if you want it close to the inputs*/
}
input {
  display: inline-block;
  float: center;
}
select {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

</style>
<body class="w3-black">


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

 <!-- The Grid -->
 <div class="w3-row-padding">
 
   <!-- Left Column -->
   <div class="w3-third">

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>View & Add Plans</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b></b></h5>
          
      <form method="POST" action="/addPlans">
          <label for="name"><b>Plan Name</b></label>
          <input type="text" placeholder="Enter Plan Name" name="planname" required><br><br>
          <label for="typeplan"><b>Type of Plan (Data/Voice)</b></label>
          <select name="typeofplan" id="cars">
          <option value="data">Data</option>
          <option value="voice">Voice</option>
          </select><br><br>
          <label for="tarrif"><b>Tarrif (Rate/min)</b></label>
          <input type="number" placeholder="Enter Tariff (Rate/min)" name="tarrifRate" required min="0"><br><br>
          <label for="validity"><b>Validity (in days)</b></label>
          <input type="number" placeholder="Enter Validity (in days)" name="validity" required min="0">
          <br><br>
          <label for="rental"><b>Rental</b></label>
          <input type="number" placeholder="Enter Rental Price" name="rental" required min="0">
          <br><br>
          <button type="submit">Add Plan</button>
      </form>
          <br><br><br><br>
          <hr>
        </div>
        
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Add Billing Details</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b></b></h5>

        <form>

          <label for="name"><b>Registration ID: </b></label>
          <input type="text" placeholder="Enter Registration ID" name="regid" required><br><br>
          
          <label for="name"><b>Call Duration: </b></label>
          <input type="text" placeholder="Enter Call Duration" name="callduration" required><br><br>
          
          <label for="name"><b>Data Used: </b></label>
          <input type="text" placeholder="Enter Data Used" name="dataused" required><br><br>

          <button type="button">Add Billing</button>
      
        </form>


         <br><br><br><br><br><br>
          <p></p>
          <hr>
        </div>
        

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<!-- Logout Button -->
<form align="right" name="form1" method="GET" action="/logout">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="Log Out">
  </label>
</form>

<footer class="w3-container w3-red w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
 
</footer>

</body>
</html>

