<!DOCTYPE html>
<html>
<title>Dispur Wireless</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
position: relative;
}

/* Set a style for all buttons */
button {
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
color: white;
}

img.avatar {
    width: 40%;
    border-radius: 50%;

}

.container {
    padding: 16px;
color: #fff;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #000;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.logoutLblPos{
position:fixed;
right:10px;
top:5px;
}

</style>
<body>

<!-- Navbar -->
<!--
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <img src="logo.png">
  </div>
</div>
-->

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Tariff plans in Assam</h1>
  <p class="w3-xlarge">Random Placeholder (Fill something later)</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-black w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Dispur Wireless Plans</h1>
      <h5 class="w3-padding-32"></h5>

<!-- Tariff Plan Table -->	
<div class="planTable plan_scroll_table">
  <form>
	<table width="800">
		<thead>
			<th style="text-align:left">Plan Name</th>
			<th style="text-align:left"><span>Internet Speed</span></th>
			<th style="text-align:left"><span>Monthly Data Limit</th>
			<th style="text-align:left"><span>Post Data Limit Speed</span></th>
			<th style="text-align:left"><span>Monthly Rental Price</span></th>
      </thead>
      <tbody>	
        <tr title="Broadband Plans At Rs 1075/M, 150 Mbps Speed, 1000 GB Data"> <!-- Should onclick command be added here ? -->
				  <td class="paytm_plan_content">
          <input type="radio" id="Plan_1" name="redirect" value="redirect_plan1.html">
            Promo Plan 1
          </td>
				  <td>150 Mbps</td>
          <td>1000 GB</td>
          <td>1 Mbps</td>
				  <td>₹ 1075 <span class="sPlan"></span></td>
				</tr>
			  <tr title="Broadband Plans At Rs 1125/M, 200 Mbps Speed, 1250 GB Data"> <!-- Add onclick if neccessary -->
					<td class="paytm_plan_content">
            <input type="radio" id="Plan_2" name="redirect" value="redirect_plan2.html">
              Plan 2		
          </td>
					<td>200 Mbps</td>
					<td>1250 GB</td>
          <td>1 Mbps</td>
					<td>₹ 1125 <span class="sPlan"></span></td>
				</tr>
				<tr title="Broadband Plans At Rs 1325/M, 250 Mbps Speed, 1500 GB Data">
					<td class="paytm_plan_content">
            <input type="radio" id="Plan_3" name="redirect" value="redirect_plan3.html">
              Plan 3		
          </td>
					<td>250 Mbps</td>
					<td>1500 GB</td>
          <td>1 Mbps</td>
					<td>₹ 1325 <span class="sPlan"></span></td>
				</tr>
				<tr title="Broadband Plans At Rs 1999/M, 350 Mbps Speed, 2000 GB Data">
					<td class="paytm_plan_content">
            <input type="radio" id="Plan_4" name="redirect" value="redirect_plan4.html">
              Plan 4		
          </td>
					<td>350 Mbps</td>
					<td>2000 GB</td>
          <td>2 Mbps</td>
					<td>₹ 1999 <span class="sPlan"></span></td>
				</tr>
      </tbody>
  </table>
    <input type="submit" value="Submit">  
  </form>														
</div>

    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-star w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-red w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-book w3-padding-64 w3-text-white w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Enjoy the best broadband plans in Assam</h1>
      <h5 class="w3-padding-32"></h5>

      <p class="w3-text-white"> Experience the internet at the fastest speeds with our fiber optic broadband. Enjoy a seamless connection, perfect for connecting multiple devices over WiFi and LAN. With our fiber optic technology, you will get superfast connectivity and the best broadband internet speeds at all times. </p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Check anywhere!</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>
<div id="id01" class="modal">
<form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="logo.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
<br><br><br>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#DC143C">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
</div>
  </form>

<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button>

<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="imgcontainer">
      <h1>Sign Up</h1>
 <img src="logo.png" alt="Avatar" class="avatar">
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required><br><br><br>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required><br><br><br>

      <label for="address"><b>Address</b></label>
      <input type="text" placeholder="Enter Address" name="address" required><br><br><br>

      <label for="cnumber"><b>Contact Number</b></label>
      <input type="text" placeholder="Enter Number" name="cnumber" required>
      <br><br><br>
      <label for="anumber"><b>Alternate Number</b></label>
      <input type="text" placeholder="Enter Alternate Number" name="anumber" required>
      <br><br><br>
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<form align="right" name="form1" method="GET" action="/logout">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="Log Out">
  </label>
</form>

<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
